{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2 class="mb-4">Game Library</h2>

    {% if session.games %}
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5">
            {% for game in session.games %}
            <div class="col">
                <div class="game-card">
                    {% if game.image %}
                    <img src="{{ url_for("static", filename="images/" ~ game.image) }}" alt="{{ game.title }}">
                    {% endif %}
                     <div class="game-info">
                        <div class="game-header">
                            <h3>{{ game.title }}</h3>
                            <p><strong>Platform:</strong> {{ game.platform }}</p>
                        </div>
                        <div class="description">
                            <p>{{ game.description }}</p>
                        <form action="{{ url_for("delete_game", index=loop.index0) }}" method="post">
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No games added yet.</p>
    {% endif %}
</div>


{% endblock %}
